body {
    background-color: #262421;
    margin: none;
    padding: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    font-family: Dosis;
}
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    width: auto;
    height: auto;
    float: left;
}

#moveList{
    height: 600px;
    width: 200px;
    
    float: right;
    overflow: hidden;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#currentplayer{
    color:red;
}
.moveBlock{
    height: 120px;
    width: 200px;
    text-align: center;
    border-bottom: 1px solid whitesmoke;
    color: rgb(206, 206, 206);
    background-color: #44423f;
    cursor: pointer;
}
.moveText{
    padding-top: 50px;
    font-size: 20px;
}
#container{
    margin-top: 100px;
    height: auto;
    width: 1000px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
}
p{
    margin: 0;
}
#pointsModal{
    height: 600px;
    width: 200px;
    background-color: #44423f;
    float: left;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;

}
.pointsBlock{
    display: block;
    padding: 30px;
    margin: auto;
    font-size: 20px;
    height: 60px;
    max-height: 120px;
}
#points1{
    color: red;
}
#points2{
    color: rgb(0, 174, 255);
}
.pointsText{
    margin: auto;
}
#offer{
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    color: rgb(214, 28, 201);
    transition: .1s;
    height: 100px;
}
#offer:hover{
    color: rgb(227, 94, 227);
    transition: .1s;
}